@import "src/styles/variables";

$backgroundColor: #ffffff;
$darkBackgroundColor: #000000;

.mainContainer {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
  margin-left: $sidebarWidth;

  background-size: 120%;
  background-position-y: -5%;
  background-repeat: repeat-y;
  background-position-x: center;
  background-color: $backgroundColor;

  > * {
    animation: fade $transition forwards;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: $sm) {
  .mainContainer {
    margin-left: 0;
  }
}

:global(body.dark) {
  .mainContainer {
    background-color: $darkBackgroundColor;
  }
}
