@import "src/styles/variables";

$defaultColor: #000000;
$darkDefaultColor: #ffffff;

$boxShadowColor: #ffffff;
$darkBoxShadowColor: #000000;

$overviewColor: #393939;
$darkOverviewColor: #cccccc;

$badgeBackground: #e6e6e6;
$darkBadgeBackground: #333333;

@mixin carouselSlideColors(
  $textColor,
  $overviewColor,
  $boxShadowColor,
  $badge
) {
  color: $textColor;

  [data-info="overview"] {
    color: $overviewColor;
  }

  [data-info="title"] a {
    color: #ffffff;
  }

  [data-info="badge"] {
    color: $textColor;
    background: $badge;
    border: 1px solid rgba($textColor, 0.075);
  }

  [data-info="shadow"] {
    bottom: 0;
    width: 100%;
    height: 350px;
    position: absolute;

    background-image: linear-gradient(
      to top,
      $boxShadowColor,
      rgba($boxShadowColor, 0.943) 13.9%,
      rgba($boxShadowColor, 0.878) 25.7%,
      rgba($boxShadowColor, 0.806) 35.6%,
      rgba($boxShadowColor, 0.728) 44%,
      rgba($boxShadowColor, 0.647) 51%,
      rgba($boxShadowColor, 0.564) 56.9%,
      rgba($boxShadowColor, 0.481) 62%,
      rgba($boxShadowColor, 0.399) 66.4%,
      rgba($boxShadowColor, 0.32) 70.4%,
      rgba($boxShadowColor, 0.246) 74.3%,
      rgba($boxShadowColor, 0.178) 78.3%,
      rgba($boxShadowColor, 0.117) 82.6%,
      rgba($boxShadowColor, 0.067) 87.5%,
      rgba($boxShadowColor, 0.027) 93.2%,
      rgba($boxShadowColor, 0) 100%
    );
  }
}

.heroContainer {
  height: 85vh;
  min-height: 500px;
}

.carouselSlide {
  @include carouselSlideColors(
    $defaultColor,
    $overviewColor,
    $boxShadowColor,
    $badgeBackground
  );

  [data-info="backdrop"],
  [data-info="poster"] {
    height: 100%;
    width: 100%;
    position: absolute;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  [data-info="poster"] {
    display: none;
  }

  [data-info="rating"] {
    font-size: 20px;

    svg {
      width: 30px;
      height: 30px;
      margin-right: 4px;
      vertical-align: bottom;

      stroke: none;
      fill: $secondary;
    }
  }

  [data-info="title"] {
    margin: 16px 0;
  }

  [data-info="overview"] {
    font-size: 18px;
    line-height: 1.4;
  }

  [data-info="badge-wrapper"] {
    margin-top: 16px;
  }

  [data-info="badge"] {
    border-radius: 2px;
    padding: 6px 12px 4px 12px;
    margin-right: 6px;
    display: inline-block;
  }

  [data-info="content"] {
    z-index: 1;
    left: 100px;
    right: 100px;
    bottom: 50px;
    position: absolute;
  }
}

:global(body.dark) {
  .carouselSlide {
    @include carouselSlideColors(
      $darkDefaultColor,
      $darkOverviewColor,
      $darkBoxShadowColor,
      $darkBadgeBackground
    );
  }
}

@media (max-width: $xl) {
  .carouselSlide [data-info="content"] {
    left: 70px;
    right: 70px;
  }
}

@media (max-width: $lg) {
  .carouselSlide [data-info="content"] {
    left: 30px;
    right: 30px;
    bottom: 40px;
  }
}

@media (max-width: $sm) {
  .carouselSlide {
    [data-info="rating"] {
      font-size: 16px;

      svg {
        height: 24px;
        width: 24px;
      }
    }

    [data-info="title"] {
      margin: 12px 0;
    }

    [data-info="overview"] {
      font-size: 16px;
    }

    [data-info="content"] {
      left: 15px;
      right: 15px;
    }
  }
}

@media (max-width: $xs) {
  .heroContainer {
    min-height: 300px;
    height: calc(100vh - 100px);
  }

  .carouselSlide [data-info="poster"] {
    display: block;
  }
}
