@import "src/styles/variables";

$defaultColor: #000000;
$darkDefaultColor: #ffffff;

$boxShadowColor: #ffffff;
$darkBoxShadowColor: #000000;

$overviewColor: #393939;
$darkOverviewColor: #cccccc;

@mixin carouselSlideColors(
  $textColor,
  $overviewColor,
  $boxShadowColor,
  $ctaBackground,
  $ctaBorder
) {
  color: $textColor;

  [data-info="overview"] {
    color: $overviewColor;
  }

  [data-info="title"] a {
    color: #ffffff;
    background: $ctaBackground;
    border: 2px solid $ctaBorder;

    &:hover {
      background: $ctaBorder;
    }
  }

  box-shadow: inset 0px -475px 200px -200px $boxShadowColor;
}

.heroContainer {
  height: 85vh;
  min-height: 500px;
}

.carouselSlide {
  @include carouselSlideColors(
    $defaultColor,
    $overviewColor,
    $boxShadowColor,
    lighten($secondary, 5),
    $secondary
  );

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  [data-info="rating"] {
    font-size: 20px;

    svg {
      width: 30px;
      height: 30px;
      margin-right: 4px;
      vertical-align: bottom;

      stroke: none;
      fill: $secondary;
    }
  }

  [data-info="title"] {
    margin: 16px 0;
    display: flex;
    align-items: center;

    a {
      padding: 8px 16px;
      margin-left: 24px;
      transition: background $transition;

      font-size: 18px;
      font-weight: bold;
      border-radius: 4px;
    }
  }

  [data-info="overview"] {
    font-size: 18px;
    line-height: 1.4;
  }

  > div {
    left: 100px;
    right: 100px;
    bottom: 50px;
    position: absolute;
  }
}

:global(body.dark) {
  .carouselSlide {
    @include carouselSlideColors(
      $darkDefaultColor,
      $darkOverviewColor,
      $darkBoxShadowColor,
      darken($secondary, 5),
      $secondary
    );
  }
}

@media (max-width: $lg) {
  .carouselSlide {
    > div {
      left: 30px;
      right: 30px;
      bottom: 30px;
    }
  }
}

@media (max-width: $sm) {
  .heroContainer {
    min-height: 350px;
    height: calc(100vh - 70px);
  }

  .carouselSlide {
    [data-info="rating"] {
      font-size: 16px;

      svg {
        height: 24px;
        width: 24px;
      }
    }

    [data-info="title"] {
      margin: 12px 0;

      a {
        display: none;
      }
    }

    [data-info="overview"] {
      font-size: 16px;
    }

    > div {
      left: 15px;
      right: 15px;
      bottom: 20px;
    }
  }
}
