@import "src/styles/variables";

@mixin fadeIn($time) {
  animation: fade $time ease-in-out forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.responsiveContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

@media (max-width: $lg) {
  .responsiveContainer {
    margin: 0 -15px;
  }
}

@media (max-width: $sm) {
  .responsiveContainer {
    margin: 0 -10px;
  }
}
