span.swiper-pagination-bullet {
  opacity: 1;
  background: rgba(128, 128, 128, 0.5);
}

span.swiper-pagination-bullet-active {
  background: $secondary;
}

// Fix for Swiper IOS mobile flickering on transform
div.swiper-slide {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
