// Row carousel overrides
div.swiper-scrollbar {
  background: rgba(128, 128, 128, 0.2);
}

div.swiper-scrollbar-drag {
  background: rgba(128, 128, 128, 0.4);
}

button.swiper-button-prev,
button.swiper-button-next {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;

  &:after {
    content: "";
  }

  &.swiper-button-disabled {
    pointer-events: all;
  }
}

button.swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.325' stroke-linecap='round' stroke-linejoin='round' stroke='currentColor' fill='none' class='sc-bdfBwQ dLlPUp'%3E%3Cpolyline points='15 4 6 12 15 20'%3E%3C/polyline%3E%3C/svg%3E");
}

button.swiper-button-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.325' stroke-linecap='round' stroke-linejoin='round' stroke='currentColor' fill='none' class='sc-bdfBwQ dLlPUp'%3E%3Cpolyline points='9 4 18 12 9 20'%3E%3C/polyline%3E%3C/svg%3E");
}

// Hero section overrides
span.swiper-pagination-bullet {
  opacity: 1;
  background: rgba(128, 128, 128, 0.5);
}

span.swiper-pagination-bullet-active {
  background: $secondary;
}

// Fix for Swiper IOS mobile flickering on transform
div.swiper-slide {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
