@import "/src/styles/swiper-carousel";
@import "src/styles/variables.scss";

html,
body,
#root,
#wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
}

body,
input {
  font-family: "Comfortaa", sans-serif;
}

#wrapper {
  overflow-x: hidden;
}

button {
  padding: 0;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

input {
  border: none;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

@media (max-width: $sm) {
  #root {
    transition: transform $transition;

    &.sidebarShift {
      transform: translateX($sidebarWidth);
    }
  }
}
