
::-webkit-scrollbar {
  background: #f8f8f8 !important;
}

::-webkit-scrollbar-thumb {
  background: #b7b7b7 !important;

  &:hover {
    background: #a7a7a7 !important;
  }
}

body.dark {
  ::-webkit-scrollbar {
    background: #111 !important;
  }

  ::-webkit-scrollbar-thumb {
    background: #808080 !important;

    &:hover {
      background: #919191 !important;
    }
  }
}
