@import "src/styles/variables";

// General colors
$background: #dedede;
$darkBackground: #333333;

// Searchbar colors
$searchbarTextColor: #737373;
$searchbarTextColorHover: #000000;

$darkSearchbarTextColor: #8c8c8c;
$darkSearchbarTextColorHover: #ffffff;

// Button colors
$buttonColor: #777777;
$buttonColorHover: #000000;

$darkButtonColor: #a5a5a5;
$darkButtonColorHover: #ffffff;

@mixin formColors($textColor, $textHover, $background) {
  input,
  button {
    background: $background;
  }

  button {
    color: $textColor;

    &:hover,
    &:focus {
      color: $textHover;
    }
  }

  input {
    color: $textHover;
    caret-color: $textHover;

    &::placeholder {
      color: $textColor;
    }
  }
}

@mixin buttonContainerColors($textColor, $textHover, $background) {
  button {
    background: $background;

    svg {
      color: $textColor;
    }

    &:focus svg,
    &:hover svg {
      color: $textHover;
    }
  }
}

.headerContainer {
  padding: 16px;
  display: flex;
  align-items: center;

  svg {
    stroke-width: 2;
    vertical-align: middle;
    transition: transform $transition, color $transition;
  }
}

.menuContainer {
  display: none;
}

.menuContainer,
.historyContainer,
.toggleThemeContainer {
  @include buttonContainerColors($buttonColor, $buttonColorHover, $background);

  flex-grow: 0;
  flex-shrink: 0;

  button {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 50%;

    line {
      transition: transform 0.75s ease-in-out;
    }
  }
}

.buttonRotation {
  svg {
    transform: rotate(10deg);
  }
}

.undoButtonRotation {
  svg {
    transform: rotate(-10deg);
  }
}

.formContainer {
  @include formColors(
    $searchbarTextColor,
    $searchbarTextColorHover,
    $background
  );

  width: 100%;
  display: flex;
  padding: 0 16px;

  button {
    padding: 8px 16px;
    border-right: 2px solid rgba(128, 128, 128, 0.1);
    border-radius: 3px 0 0 3px;
  }

  input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 3px 3px 0;
  }
}

@media (max-width: $xs) {
  .headerContainer {
    padding: 12px 6px;
  }

  .formContainer {
    padding: 0 6px;
  }
}

@media (max-width: $sm) {
  .historyContainer {
    display: none;
  }

  .menuContainer {
    display: block;
  }
}

:global(.sidebarClose) {
  line {
    transform: translateX(-24px);
  }

  line:first-child {
    transform: rotate(45deg) translate(5px, -4px);
  }

  line:last-child {
    transform: rotate(-45deg) translate(-12px, -3px);
  }
}

:global(body.dark) {
  .menuContainer,
  .historyContainer,
  .toggleThemeContainer {
    @include buttonContainerColors(
      $darkButtonColor,
      $darkButtonColorHover,
      $darkBackground
    );
  }

  .formContainer {
    @include formColors(
      $darkSearchbarTextColor,
      $darkSearchbarTextColorHover,
      $darkBackground
    );
  }
}
