#main-wrapper {
  height: auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
  margin-left: 230px;

  background-size: 120%;
  background-position-y: -5%;
  background-repeat: repeat-y;
  background-position-x: center;
  background-color: #fff;
}

body.dark #main-wrapper{
  background-color: #111;
}

