@import "src/styles/variables";

// Menu colors
$menuLinkColor: #646464;
$menuLinkColorHover: #000000;
$backgroundColor: #ededed;

$darkMenuLinkColor: #bbbbbb;
$darkMenuLinkColorHover: #ffffff;
$darkBackgroundColor: #222222;

@mixin navbarColors($textColor, $textHover) {
  a {
    color: $textColor;

    &:hover,
    &.activeLink {
      color: $textHover;
    }
  }
}

.sidebarContainer {
  position: fixed;
  height: 100%;
  width: $sidebarWidth;

  font-size: 14px;
}

.logoContainer {
  margin: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
}

.logoImage {
  width: 28px;
  height: 28px;
  margin-right: 14px;
}

.logoText {
  height: 20px;
}

.navbarContainer ul {
  @include navbarColors($menuLinkColor, $menuLinkColorHover);

  margin: 0;
  padding: 0;
  list-style: none;

  a {
    padding: 0 22px;
    height: 60px;
    display: flex;
    align-items: center;
    transition: color $transition;

    svg {
      margin-right: 18px;
    }
  }
}

.activeLink {
  background: rgba(128, 128, 128, 0.1);
  box-shadow: inset -3px 0 0 0 $secondary;
}

@media (max-width: $sm) {
  .sidebarContainer {
    left: -$sidebarWidth;
  }
}

:global(body) {
  background: $backgroundColor;
}

:global(body.dark) {
  background: $darkBackgroundColor;

  .navbarContainer ul {
    @include navbarColors($darkMenuLinkColor, $darkMenuLinkColorHover);
  }

  .logoText {
    filter: invert(100%);
  }
}
