@import "src/styles/variables";

// Menu colors
$menuLinkColor: #000000;
$backgroundColor: #ededed;

$darkMenuLinkColor: #ffffff;
$darkBackgroundColor: #222222;

$menuLinkHoverBackground: rgba(128, 128, 128, 0.1);

@mixin navbarColors($textColor) {
  a {
    color: $textColor;

    &:hover,
    &.activeLink {
      background: $menuLinkHoverBackground;
    }
  }
}

.sidebarContainer {
  height: 100%;
  position: fixed;
  overflow-y: auto;
  width: $sidebarWidth;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 14px;
}

.logoContainer {
  margin: 12px 12px 8px 12px;
  padding: 12px;
  display: flex;
  align-items: center;
}

.logoImage svg {
  width: 28px;
  height: 28px;
  margin-right: 14px;
}

.logoText svg {
  height: 20px;
}

.navbarContainer ul,
.bottomNavbarContainer ul {
  @include navbarColors($menuLinkColor);

  margin: 0;
  padding: 0;
  list-style: none;

  a {
    padding: 0 22px;
    height: 60px;
    display: flex;
    align-items: center;
    transition: background $transition;

    svg {
      margin-right: 18px;
    }
  }
}

.activeLink {
  box-shadow: inset -3px 0 0 0 $secondary;
}

@media (max-width: $sm) {
  .sidebarContainer {
    left: -$sidebarWidth;
  }
}

:global(body) {
  background: $backgroundColor;
}

:global(body.dark) {
  background: $darkBackgroundColor;

  .navbarContainer ul,
  .bottomNavbarContainer ul {
    @include navbarColors($darkMenuLinkColor);
  }

  .logoText svg {
    filter: invert(100%);
  }
}
